
.header {
	height: 90PX;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #e63939;
}

.left {
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 0 20PX 30PX;
}

.right {
	flex: 1;
	padding-top: 20px;
}

.shopName {
	color: white;
}

.address {
	font-size: 12PX;
	color: white;
	padding: 0 5PX;
}

.img {
	width: 50PX;
	height: 50PX;
	border-radius: 25PX;
}